
<div class="row vertical-center">
    <div class="col-md-4 col-md-offset-4">
        <form class="form-inline container-fluid">
            <input name="id" class="form-control" type="search" placeholder="Search..." [(ngModel)]="str"/>
            <button type="submit" class="btn btn-default form-control" (click)="searchFisher()">Search</button>
        </form>
    </div>
</div>

<!--<h3>Top Heroes</h3>-->
<!--<div class="grid grid-pad">-->
    <!--<div *ngFor="let hero of heroes" class="col-1-4">-->
        <!--<div class="module hero">-->
            <!--<h4>{{hero.name}}</h4>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
