<div class="fisher-main-banner">

    <div class="container-fluid catch-header-bar text-center">
        <!--<h1>Abalobi Hook to Cook</h1>-->
    </div>

    <div *ngIf="!fisher" class="cs-centered">
        <div class="text-center">
            <svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
            </svg>
        </div>
    </div>

    <div *ngIf="fisher" class="container animated fadeInRight">

        <div class="row cs-info-row  card card-2">
            <h1 class="text-center">
                {{fisher.species_name}}
            </h1>
            <div class="col-md-4 cs-grid-margin">
                <!--Species Image-->
                <div class="text-center">
                    <img class="cs-column-image" src="https://cdn.pixabay.com/photo/2012/04/12/22/04/goldfish-30837_960_720.png" />
                </div>
            </div>
            <div class="col-md-8 cs-grid-margin">
                <!--Species Info-->

                {{lorem}}

            </div>
        </div>
        <div class="row cs-info-row  card card-2">
            <h1 class="text-center">
                {{fisher.fisher_name}}
            </h1>
            <div class="col-md-4 cs-grid-margin ">
                <!--Fisher Image-->
                <div class="text-center">
                    <img class="cs-column-image" src={{fisher.fisher_image}} />
                </div>
            </div>
            <div class="col-md-8 cs-grid-margin">
                <!--Fisher Info-->

                {{lorem}}
            </div>
        </div>
        <div class="row cs-info-row  card card-2">
            <h1 class="text-center">
                {{fisher.community_name}}
            </h1>
            <div class="col-md-6 cs-grid-margin ">
                <!--Community Info-->
                <sebm-google-map [latitude]="lat" [longitude]="lng" [disableDefaultUI]="true">
                    <sebm-google-map-marker [latitude]="lat" [longitude]="lng"></sebm-google-map-marker>
                </sebm-google-map>
            </div>
            <div class="col-md-6 cs-grid-margin">
                <!--Community Map-->

                {{lorem}}
            </div>
        </div>

        <div class="container">
            <button class="btn btn-default" (click)="goBack()">Home Page</button>
        </div>
    </div>
    <div class="container-fluid catch-header-bar text-center">
        <!--<h1>Abalobi Hook to Cook</h1>-->
    </div>
</div>




